/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.overlay {
    display: flexbox;
    margin: 5em;
    text-align: center;
}

#carImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.overlay h1 {
    color: rgb(246, 33, 33);
    align-items: center;
}

.overlay p {
    color: white;
}
